extends _partials/layout

block content
	div#home
		header
			nav
				div.container
					a(href="/")
						span Home
			div.container
				div.welcome.row
					div.col-xs-12
						p Good Morning 
							span.firstName= firstName

		main
			div.container
				div.description.box.no-fill
					h2 About Me:
					p= description
				div.box
					h1 Employment History
				div#history
					if positions
						each position in positions
							//-hr
							include ./_includes/position
					div.addPosition.box
						//-img(src='https://placehold.it/25x25')
						span.glyphicon.glyphicon-plus
						p Add New Position
		
		footer
			p Footer content goes here
		
		script(type='text/javascript', src='js/home.js')