h1,h2,h3,h4,h5,h6{
	margin : 0;
}

body {
  //padding: 50px;
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F5F5F5;

  .box{
  	background-color: #FFF;
  	padding : .3em .3em;
  	border : solid #D8D8D8 1px;
    box-shadow: .2em .2em .5em rgba(0,0,0,0.1);

  	+ .box{
  		margin-top : 1em;
  	}
  }
  .success{
    color : green;
  }
  .error{
  	color : red;
  }

  	
  
  #home{

    header{
      nav{
       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+96,7db9e8+100 */
      background: #1e5799; /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 96%, #7db9e8 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 96%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 96%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-8 */

      min-height: 50px;

        a span{
          color: white;
          font-size: 2em;
        } 
      }


      p{
        margin-top: 1em;

        .firstName{
            text-transform: capitalize;
          }
      }
    }

    main{
      .description{
        background-color: #D0D0D0;
        padding : .5em;

        h2{
          margin-top : 0;
        }
        
      }

      .position{

        &:hover button{
          //visibility: visible;
          opacity: .5;

        }
        h4{
          font-weight: bold;
          font-size : .9em;
        }

        pre{
          background-color: #FBFBFB;
          font-family: arial;
          font-size: 1.1em;
        }

        p{
          font-size : 1.2em;
          
          &.date{
             text-transform: capitalize;
          }
        }

        button{
          

          opacity : 0;
          transition:opacity .3s linear;
          &:hover{
            opacity: 1;
          }
          + button {
            margin-left : 1%;
          }
        }
      }

      .addPosition,.editPosition{
        cursor: pointer;
        span{
          float : left;
        }
        p{
          padding-left: 5%;
        }
        .row{
          margin-bottom: .5em;
        }

        button + button {
          margin-left : 1%;
        }

      }



      h2{

        font-size: 1.5em;
      }

    }


    }
  
  #signUp2{
    text-align: center;
    
    h1{
      margin: 5% 0;
    }

    fieldset{
      box-shadow: .2em .2em .5em rgba(0,0,0,0.1);
      button{
        //margin-top: 5%;
      }
      .buttons{
        margin-top : 5%;
        button{
          margin: 0 5%;
        }
      }

      .section{
        display: none;

        .subSection + .subSection{
          margin-top : 10%;
        }
      }

      .requirements{
        text-align: left;
        p + p{
          font-size: .95em;
        }
        span.glyphicon{
          margin-right: 2%;
        }
      }
    }
 }
}

